.sticky-nav{
    background-color: #EEF2FA;
    position: sticky;
    top: 30px;
    padding: 5px 10px;
    margin: 10px 0px;
    z-index: 5;
    
}

.side-main{
    width: 250px;
}

.sticky-side{
    position: fixed;
    z-index: 6;
}


.dashboard-layout{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.dash-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.chart-area{
    margin: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.graph{
    background-color: white;
    border-radius: 20px;
    margin: 0px 10px;
}

.graph-2{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    border-radius: 20px;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb-icon{
    display: flex;
    background-color: #3B5998;
    padding: 10px 35px;
    color: white;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
}

.g-icon{
    display: flex;
    background-color: #DD4B39;
    padding: 10px 35px;
    color: white;
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
}

.social-login{
    display: flex;
    justify-content: center;
     align-items: center;
    margin: 20px 0px;
    font-size: larger;
    font-weight: 500;
}

.social-login hr{
    border: none;
    border-top: 1px solid rgb(136, 136, 136);
    width: 100%;
    margin: 10px;
}

.profile{
    padding: 50px;
}

.tabsactive-tabs{
    padding-bottom: 3px;
    border-bottom: 3px solid var(--main-color);
}
