*{
  --main-color: #501F3A;
  --main-hover: #CB2D6F;
  --bg-color: #CCCCCC;
  --secondary-color: #14A098;
  --secondary-hover: #0F292F;
}

.main-card{
    background-color: white;
    width: 25vw;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.card-icon{
    color: var(--main-color);
    padding: 5px 25px;
    font-size: 35px;
}

.card-info p{
    color:#A3AED0;
    font-size: 15px;
    font-weight: 600;
}

.card-info h3{
    color: var(--secondary-hover);
    font-size: 24px;
    font-weight: 600;
}

.profile-nav{
    display: flex;
}
.profile-nav a{
    font-weight: 800;
    margin: 20px 0px;
    margin-right: 50px;
    cursor: pointer;
}

.basic-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 600;
    padding: 10px;
}
.basic-info input{
    padding: 8px;
    width: 90%;
    margin: 5px 0px;    
}

.basic-info h2{
    margin: 20px 0px;
}

.basic-info p{
    margin: 5px 0px;
}
.info-tab textarea{
    width: 95%;
    padding: 8px;
}

.info-tab{
    font-weight: 600;
}

.main-btn{
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.main-btn:hover{
    background-color: var(--main-hover);
}

.basic-input{
    outline: none;
    border: none;
    border-bottom: 1px solid #505256;
}

.basic-input:focus{
  border: none;
  border-bottom: 2px solid var(--main-hover);
  transition: 0.3s;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
}

.right-nav{
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 25px;
    box-shadow: 1px 4px 0px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
}

.searchTerm {
  border: none;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
 
}

.searchTerm:focus{
  border: none;
}

.sidebar{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #6a6c6d;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background: var(--main-color);
    color: white;
    transition: all 0.5s;
}
.active{
    background: var(--main-color);
    color: white;
}


.icon, .link_text{
    font-size: 18px;
    margin: 5px 0px;
    font-weight: 600;
}